@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

body{
    font-family: Roboto;
    background: black;
}

img{
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    background: transparent;
}

.icon-lg{
    font-size: 3em;
}

.main{
    background: #23242D;
    color: white;
    width: 18%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-radius: 1em;
}

.card-background{
    background: #191B21;
}

.socials{
    background: #16151A;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

/*-----------Media Queries (Medium Devices)--------------------*/
@media screen and (max-width: 1024px){
    .main{
        width: 56%;
    }
}

/*-----------Media Queries (Small Devices)--------------------*/
@media screen and (max-width: 600px){
    body{
        background: black;
    }
    img{
        width: 98%;
    }
    .main{
        width: 100%; 
    }
}